@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 
body, 
#score
{
  font-family: 'Lato', sans-serif;
}

#joueur1 {
  background-color: rgba(71, 190, 245, 0.3);
  padding-top: 1px;
}
#joueur2 {
  background-color: rgba(210, 105, 219, 0.3);
}

ion-card-content{
 color : black;
}

/* --Fix scroll issue-- */
body{
  position:absolute; 
  top:0; 
  right:0; 
  bottom:0; 
  left:0; 
  overflow-y:scroll; 
  overflow-x: hidden'
}